body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }

  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

.header-container {
    background-image: url('images/Background/back1.jpg');
    background-size: cover; 
    background-position: center; 
    color: white; 
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
    
}

header 
{
    height: 480px;
    font-size: 40px; 
}

header h1
{
    padding-top: 75px;
}

.portfolio {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px; 
}

.photo-entry {
    margin: 20px;
    padding: 10px; 
    background-color: #333;
    border-radius: 5px;
    width: 250px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-entry img {
    transition: transform 0.3s ease;
    width: 100%;
    border-radius: 5px; 
}


h2 {
    margin: 10px 0 5px; 
    font-size: 18px; 
}

p {
    font-size: 14px;
    color: #999; 
}

header p {
    color: #f4f4f4; 
    font-size: 20px;
}

.navbar {
    overflow: hidden; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 8px 20px;
    position: relative; 
    z-index: 1; 
}

.logo a{
    color: white; 
    font-size: 20px;
    text-decoration: none;
}

.nav-links {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px; 
}

.nav-links a {
    color: white; 
    text-decoration: none;
    font-size: 18px; 
    padding: 15px; 
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #f4f4f4; 
}

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }

footer {
    background-color: #999;
    padding: 60px; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

.mail{
    font-family: sans-serif;
}

.social-icons img {
    margin-top: 30px; 
}


.copyright {
    margin-top: 30px;
    font-size: 14px;
    color: white;
}

.photo-entry img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.clickable {
    transition: transform 0.3s ease; 
    width: 250px;
}

.enlarged {
    transform: scale(1.6);
    transition: transform 0.3s ease;
    z-index: 10; 
    position: relative;
}

.content {
    padding: 60px 20px; 
    min-height: 2000px; 
}

