/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    background-image: url('images/back1.jpg');
    background-size: cover; 
    background-position: center; 
    color: white; 
    padding: 20px;
    text-align: center;
    padding-bottom: 50px;
    
}

header 
{
    height: 480px;
    font-size: 40px; 
}

header h1
{
    padding-top: 75px;
}

.portfolio {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px; 
}

.photo-entry {
    margin: 20px;
    padding: 10px; 
    background-color: #333;
    border-radius: 5px;
    width: 250px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-entry img {
    width: 100%;
    border-radius: 5px; 
}


h2 {
    margin: 10px 0 5px; 
    font-size: 18px; 
}

p {
    font-size: 14px;
    color: #999; 
}

header p {
    color: #f4f4f4; 
    font-size: 20px;
}

.navbar {
    overflow: hidden; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 8px 20px;
    position: relative; 
    z-index: 1; 
}

.logo a{
    color: white; 
    font-size: 20px;
    text-decoration: none;
}

.nav-links {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px; 
}

.nav-links a {
    color: white; 
    text-decoration: none;
    font-size: 18px; 
    padding: 15px; 
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #f4f4f4; 
}

.instagram-icon {
    width: 24px; 
    height: 24px; 
}

footer {
    background-color: #999;
    padding: 60px; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

.mail{
    font-family: sans-serif;
}

.social-icons img {
    margin-top: 30px; 
}


.copyright {
    margin-top: 30px;
    font-size: 14px;
    color: white;
}

.photo-entry img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.clickable {
    transition: transform 0.3s ease; 
    width: 250px;
}

.enlarged {
    transform: scale(1.6);
    transition: transform 0.3s ease;
    z-index: 10; 
}

.content {
    padding: 60px 20px; 
    min-height: 2000px; 
}

.fade-section {
    opacity: 0;
    transition: opacity 01s ease;
}

.content-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content-item {
    flex: 1;
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    opacity: 0; 
    transform: scale(0.8);
    transition: opacity 3s ease, transform 3s ease; 
}

@media (max-width: 768px) {
    .content-row {
        flex-direction: column;
    }

    .content-item {
        margin: 10px 0;
    }
}
