body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    background-image: url('images/back1.jpg');
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center;
    padding-bottom: 100px;
    
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 1.6em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .button1 {
    padding-top: 35px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .button1::before {
    margin-left: auto;
  }
  
  .button1::after, .button1::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .button1:hover::after, .button1:hover::before {
    width: 100%;
  }

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }
  

header 
{
    height: 480px;
    font-size: 40px; 
}

header h1
{
    padding-top: 75px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    position: relative;
}

.img1 {
    width: 500px;
    height: 500px;
    object-fit: cover; 
}

.fade {
    animation: fade 2s ease-in-out;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.portfolio {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px; 
}

.photo-entry {
    margin: 20px;
    padding: 10px; 
    background-color: #333;
    border-radius: 5px;
    width: 250px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-entry img {
    transition: transform 0.3s ease;
    width: 100%;
    border-radius: 5px; 
}


h2 {
    margin: 10px 0 5px; 
    font-size: 18px; 
}

p {
    font-size: 14px;
    color: #999; 
}

header p {
    color: #f4f4f4; 
    font-size: 20px;
}

.navbar {
    overflow: hidden; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    position: relative; 
    z-index: 1;
}

.logo a{
    color: white; 
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white; 
    text-decoration: none;
    font-size: 18px; 
    padding: 30px;
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #f4f4f4; 
}

.instagram-icon {
    width: 24px; 
    height: 24px; 
}

footer {
    background-color: #999;
    padding: 60px; 
    text-align: center; 
    font-family: Arial, sans-serif;
}

.mail{
    font-family: sans-serif;
}

.social-icons img {
    margin-top: 30px; 
}


.copyright {
    margin-top: 30px;
    font-size: 14px;
    color: white;
}

.photo-entry img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.clickable {
    transition: transform 0.3s ease; 
    width: 250px;
}

.enlarged {
    transform: scale(1.6);
    transition: transform 0.3s ease;
    z-index: 10; 
    position: relative;
}

.content {
    padding: 60px 20px; 
    min-height: 2000px; 
}

